body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

::selection {
  background: #00FFD7;
}

::-moz-selection {
  background: #00FFD7;
}

/* Header & Logo */

#header {
	font-weight: 400;
	height: 50px;
	background: rgba(31,31,31,.95);
	box-shadow: inset 0px 0px 0px #15DBBE;
	position: fixed;
	width: 100%;
}

#header-content {
	margin-left: auto;
	margin-right: auto;
}


/* Navigation */

a {
	text-decoration: none;
}

.nav a:link, a:visited {
	color: #1DB6A2;
}

.nav-inactive a:hover, a:active {
	color: #19A18F;
}

.nav {
	overflow: auto;
	zoom: 1;
	padding: 0px;
	margin-top: 8px;
	float: right;
	margin-right: 4px;
}

.nav-active {
	padding: 3px 12px 2px 12px;
	display: inline-block;
	float: left;
	margin-right: 4px;
	background-color: rgba(32,200,177,.75);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.nav-active a {
	color: white;
}

.nav-inactive {
	padding: 3px 12px 8px 12px;
	display: inline-block;
	float: left;
	margin-right: 4px;
}

li, ul {
	list-style: disc;
}
.blue, a.blue:link, a.blue:visited {
	color: #00DBDB;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	-ms-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}
a.blue:hover, a.blue:active {
	color: #A1B2B3;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	-o-transition: color 200ms ease-out;
	-ms-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
}
.pink, a.pink:link, a.pink:visited {
	color: #FF0099;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	-ms-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}
a.pink:hover, a.pink:active {
	color: #A1B2B3;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	-o-transition: color 200ms ease-out;
	-ms-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
}
